/build/
/springcloud-eureka-server/bin
/springcloud-eureka-server/build
/springcloud-eureka-server/.classpath
/springcloud-eureka-server/.project
/springcloud-eureka-server/.settings
/springcloud-consumer-feign-config-swagger/out
/.idea
*.original
*.jar
*.MF
*.bin
*.lock
*.class
cache.properties
gc.properties
gradle
/*.bat
gradle/wrapper/*.jar
gradle/wrapper/*.properties